:root {
	--bg:     #BC3;
	--text:   #522;
	--high1:  #922;
	--high2:  #FFA;
	--border: #9A2;
}

@font-face {
	font-family: 'Bricolage Grotesque'; font-weight: 200 800; font-stretch: 75% 100%; font-display: swap;
	src: url('/public/fonts/BricolageGrotesqueVF.woff2') format('woff2');
}


/* layout-ish */

body {
	background-color: var(--bg);
	color: var(--text);
	font-size: 20px;
	font-family: "Bricolage Grotesque";
	line-height: 1.4em;

	display: grid;
	grid-template-rows: 1fr auto;
	min-height: 100vh;
}

#content { padding-bottom: 30px; }
.pad { max-width: 650px; margin: auto; }

#logo { margin: 10px 0 0 20px; height: 80px; }
#page-title h1 {
	color: var(--high1);
	font-size: 44px;
	font-weight: 800;
	font-stretch: semi-condensed;
	line-height: 0.8em;
	margin: 0;
	padding: 20px 50px 0 50px;
	text-wrap: balance;
}

@media screen and (min-width: 35.5em) {
	#logo { height: 140px; margin-top: 10px; }
	#page-title h1 { font-size: 76px; padding-top: 30px; }
}


/* home tiles */

.tile-bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 10px 20px;
	font-size: 24px;
}
#tile-o-nas { }
#tile-cinnosti { background-image: url('/public/tiles/hlavy.webp'); }
#tile-kde { background-image: url('/public/tiles/mapa.webp'); }
#tile-zazemi { background-image: url('/public/tiles/typi.webp'); }
#tile-zahrada { background-image: url('/public/tiles/kytky.webp'); }
.tile a { text-decoration: none; font-weight: 600; }
.tile a:hover .inner { text-decoration: underline; opacity: 75%; }
.tile a .inner { margin: 0; padding: 45px 30px 20px 30px; opacity: 85%; }

.tile:nth-child(odd) .inner { background: var(--high1); color: var(--high2); }
.tile:nth-child(even) .inner { background: var(--high2); color: var(--high1); }

@media screen and (min-width: 35.5em) {
	.tiles #logo { margin-top: 0px; }
	.tile-bg { margin: 10px; }
	.tile a .inner { padding: 90px 30px 25px 30px; }
	.tile:nth-child(4n+1) .inner,
	.tile:nth-child(4n+4) .inner
		{ background-color: var(--high1); color: var(--high2); }
	.tile:nth-child(4n+2) .inner,
	.tile:nth-child(4n+3) .inner
		{ background: var(--high2); color: var(--high1); }
}

footer {
	background: var(--text);
	color: var(--bg);
}


/* concrete content */

a { color: var(--high1); }
h2, h3, h4 { margin: 25px 0 10px 0; }
p { margin: 10px 0; }
table { border: 1px solid var(--border); border-collapse: collapse; }
td { padding: 5px 10px; border: 1px solid var(--border); }
.photo { width: 100%; margin-bottom: 10px; }
