:root {
	--bg:     #BC3;
	--text:   #522;
	--high1:  #922;
	--high2:  #FFA;
}

body {
	background-color: var(--bg);
	color: var(--text);
	font-size: 20px;
	font-family: "Ubuntu";

	display: grid;
	grid-template-rows: 1fr auto;
	min-height: 100vh;
}

#content { padding-bottom: 30px; }
.pad { max-width: 650px; margin: auto; }

p { margin: 10px; }


#logo { color: #FC0; margin: 10px 0 0 20px; height: 100px; }
#page-title h1 {
	color: var(--high1);
	font-family: "Suez One", serif;
	font-size: 48px;
	line-height: 0.9;
	margin: 0;
	padding: 20px 0 0 20px;
}

.tile a { text-decoration: none; }
.tile a:hover .inner { text-decoration: underline; }
.tile a .inner { height: 50px; margin: 10px 20px; padding: 45px 30px; }

.tile:nth-child(odd) .inner { background: var(--high1); color: var(--high2); }
.tile:nth-child(even) .inner { background: var(--high2); color: var(--high1); }

@media screen and (min-width: 35.5em) {
	#logo { height: 140px; }
	#page-title h1 { font-size: 68px; }
	.tile a .inner { margin: 10px; }
	.tile:nth-child(4n+1) .inner,
	.tile:nth-child(4n+4) .inner
		{ background: var(--high1); color: var(--high2); }
	.tile:nth-child(4n+2) .inner,
	.tile:nth-child(4n+3) .inner
		{ background: var(--high2); color: var(--high1); }
}

footer {
	background: var(--text);
	color: var(--bg);
}
