<!DOCTYPE html>
<html lang="cs">
<head>
	<title>{{ page.title }} – Ocásčata</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/public/pure-min.css">
	<link rel="stylesheet" href="/public/pure-grids-responsive-min.css">
	<link rel="stylesheet" href="/public/style.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">
</head>
<body>

<div id="content" class="pad">
{{ content }}
</div>

<footer>
	<div class="pad">
		<p>Kontakt bude tady?</p>
		<p>A žádost o podporu?</p>
		<p>A číslo účtu?</p>
	</div>
</footer>

</body>
</html>
