<!DOCTYPE html>
<html lang="cs">
<head>
	<title>{{ page.title }} – Ocásčata</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/public/pure-min.css">
	<link rel="stylesheet" href="/public/pure-grids-responsive-min.css">
	<link rel="stylesheet" href="/public/style.css">
	<link rel="icon" href="/public/favicon.svg">
</head>
<body>

<div id="content" class="pad">
{{ content }}
</div>

<footer>
	<div class="pad">
		<p>Kontakt: ocascata@triocasci.cz</p>
		<p>Žádost o podporu!</p>
		<p>Číslo účtu!</p>
	</div>
</footer>

</body>
</html>
