---

name: Deploy teh website

on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'
          ref: ${{ github.head_ref }}
      - uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: ${{ secrets.KNOWN_HOSTS }}
      - run: |
          git config user.name vit.brunner
          git config user.email vit.brunner@gmail.com
          git remote add prod \
            ssh://deploy_ocascata@tasuki.org:678/var/git/cz.ocascata/www
          git push prod
